<aside class="right-side">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to '编辑', edit_app_list_path(@app_list) %> |
      <%= link_to '返回', app_lists_path %>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>App LOGO</th>
            <th>App名称</th>
            <th>App分类</th>
            <th>App类型</th>
            <th>系统要求</th>
            <th>下载量</th>
            <th>大小</th>
            <th>奖励V币</th>
            <th>下载地址</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= image_tag @app_list.app_logo%></td>
                <td><%= @app_list.app_title %></td>
                <td><%= AppCategory.cate_key(:parent,@app_list.app_parent)+"/"+AppCategory.cate_key(:child,@app_list.app_child) %></td>
                <td><%= AppCategory.cate_key(:type,@app_list.app_type)%></td>
                <td><%= AppCategory.cate_key(:system,@app_list.app_system)%></td>
                <td><%= @app_list.app_count%></td>
                <td><%= @app_list.app_size%></td>
                <td><%= @app_list.app_credit%></td>
                <td><%= @app_list.app_url%></td>
              </tr>
              <tr>

              </tr>
          </tbody>
        </table>
      <% @app_resouces.each do |resouce| %>
          <%= image_tag resouce.app_pic%>
      <% end %>

    </div>
  </div>
</aside>